@tailwind base;
  @tailwind components;
  @tailwind utilities;

  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #666;
    z-index: 100
  }

  /* .swiper-pagination-bullets {
    top: 0 !important;
  } */
